@font-face {

    font-family: verdana;
    src: url("../fonts/verdana.ttf");
}


body {
    background-image: url(../img/bg.png);
    font-family: verdana;
    color: #fff;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.41);
    height: 26px;
    padding: 15px 75px 15px 82px;
}

.fon {
    display: flex;
    justify-content: space-between;
}

.textD {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
}
.textD:hover{
    text-decoration: underline;
}

.textDec{
    text-transform: capitalize;
}

.color {
    color: #3cb878;
}

.logo {
    display: block;
    float: left;
    width: 105px;
    height: 26px;
    font-size: 20px;
    font-family: Verdana;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.logo:hover{
    color: #3cb878;
}


.headerItemRightLeft {
    float: right;
    width: 203px;
    height: 26px;
}

.headerItemRightRight {
    display: flex;
    justify-content: space-around;
    height: 26px;
    width: 180px;
}

.margin {
    width: 157px;
    margin-right: 26px;
    text-decoration: none;
}

.cal {
    display: flex;
    width: 19px; 
    height: 19px;
    background: url(../img/css_sprites\ .png) -106px -10px;
    transition: transform 5s;
    transition-property: background;
}

.cal:hover {
    background: url(../img/css_sprites\ .png) -106px -49px;
    width: 20px;
    height: 20px;

}

.not {
    display: flex;
    height: 20px;
    width: 28px;
    background: url(../img/css_sprites\ .png) -10px -10px;
    transition: transform 5s;
    transition-property: background;
}

.not:hover {
    background: url(../img/css_sprites\ .png) -58px -10px;
}

.comp {
    display: flex;
    height: 20px;
    width: 20px;
    background: url(../img/css_sprites\ .png) -10px -50px;
    transition: transform 5s;
    transition-property: background;
}

.comp:hover {
    background: url(../img/css_sprites\ .png) -50px -50px;
 }

.line {
    width: 1px;
    height: 19px;
    background: url(../img/css_sprites\ .png) -10px -90px;
    }

.regForm {
    width: 444px;
    margin: auto;
    margin-top: 9vh;
    margin-bottom: 9vh;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    padding-bottom: 30px;
}

.legend {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.regFormHead {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.green {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    margin-left: -60px;
    background-image: url(../img/green.png);
}

.regFormLeft {
    margin-left: -160px;
    font-size: 20px;
    color: #434343;
}

.regFormRight {
    text-align: right;

}

.facebookGoogle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 157px;
    height: 46px;
    margin-left: 20px;
    background-color: #305db8;
}

.faceLeft {
    width: 10px;
    height: 20px;
    margin-right: 16px;
    background-image: url(../img/f.png);

}

.faceRight {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 400;
    margin-left: 16px;
    text-transform: capitalize;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 157px;
    height: 46px;
    margin-left: 4px;
    background-color: #df4a32;

}

.googleLeft {
    padding-right: 10px;
    width: 25px;
    height: 16px;
    background-image: url(../img/G+.png);

    background-repeat: no-repeat;
}

.googleLeftLini {
margin-right: 20px;
}

.googleRight {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
    text-transform: capitalize;
}

.content{
    width: 322px;
    margin-left: 55px;
    justify-content: center;
}
.title{
    overflow: hidden;
    margin-left: -7px;
    margin-right: -20px;
    
}
.title::before,
.title::after{
    content:"";
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 47%;
    height: 1px;
    background: #bebebe;
    border: solid #FFF;
    border-width: 0 10px;
  
}

.modal {
    margin-bottom: 30px;
    
}

button {
    display: block;
    border-radius: 5px;
    width: 157px;
    height: 46px;
    margin-left: 62px;
}

.formtext{
color: #bebebe;
font-family: Verdana;
font-size: 14px;
}

input#name, input#lastName, input#email, input#choosePassword, input#confirmPassword{ 
    height: 46px;
    width: 322px;
    margin: auto;
    margin-bottom: 12px;
    border-radius: 5px;
    border: solid 1px rgba(190, 190, 190, 1);
    opacity: 0.4;
    outline: none;

}


input#name{
    margin-top: 17px;
}

input#name:focus, 
input#lastName:focus, 
input#email:focus, 
input#choosePassword:focus, 
input#confirmPassword:focus{
   
    box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

input#checkbox{
    margin-top: 10px;
}

.agre{
width: 211px;
height: 14px;
color: #3cb878;
font-family: Verdana;
font-size: 14px;
}


.accaunt{
width: 322px;
margin: auto;
background-color: #329a65;
}

.create{
width: 122px;
height: 12px;  
text-transform: capitalize;
color: #ffffff;
font-family: Verdana;
font-size: 16px;
}


