@font-face{
    font-family: "Myriad Pro";
    src: url(../fonts/Myriad_Pro.ttf);
}

body{
    display: flex;
    justify-content: center;
    width: 1480px;
    font-family: "Myriad Pro", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/backlayer.png);
}

.wraper{
        width: 1280px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    font-size: 80px;
    margin-top: 65px;
    margin-bottom: 65px;
    text-transform: capitalize;
}

.ramda{ 
    text-decoration: none;
}

.logoLeft{
    color: #000000;
    text-decoration: none;
}

.logoRight{
    text-transform: lowercase;
    color: #4bcaff;
}

.top{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 50px;
    width: 1280px;
    height: 69px;
    font-size: 24px;
    background-color: #35444f;
    color: #fff;
    
}

.textD{
    text-transform: capitalize;
}
.topTextD{
    text-transform: lowercase;
}

.topFunctional{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 492px;
    height: 69px;
    padding-right: 40px;
  
}

.topRamda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 69px;
    
}

.topFantasy{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 69px;
}

.topNode{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 370px;
    height: 69px;
    padding-left: 40px;
}

.topFunctional:hover,
.topRamda:hover,
.topFantasy:hover,
.topNode:hover{
    background-color: #222f3a;
    border-right: solid rgba(255, 255, 255, 0.4) 1px;
    border-left: solid rgba(255, 255, 255, 0.4) 1px;
}

.wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.left{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-start;
    width: 344px;
    height: 399px;
    font-size: 27px;
    overflow: hidden;
    color: #485863;
    border: solid #000000;
    border: solid rgba(0, 0, 0, 0.4) 1px;
}

.leftRam,
.leftWhy,
.leftWhat,
.leftIntroductions,
.leftPhilosophy{
    display: flex;
    align-items: center;
    width: 342px;
    height: 81px;
    padding-left: 44px;
    overflow: hidden;
}

.leftRam:hover,
.leftWhy:hover,
.leftWhat:hover,
.leftIntroductions:hover,
.leftPhilosophy:hover{
    width: 342px;
    height: 81px;
    padding-left: 70px;
    background-color: #dbdbdb;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    width: 885px;
}

.contentTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: solid rgba(0, 0, 0, 0.4) 1px;
    overflow: hidden;

}

.contentImg{
    display: flex;
    width: 320px;
    height: 381px;
}

.contentImg:hover{
    transform: scale(1.3);
    transition: 2s;
    overflow: hidden;
}

.img{
    width: 320px;
    height: 381px;   
    background-image: url(../img/top-img.png);
}

.contentText{
   margin-left: 34px;
   margin-right: 34px;
   font-size: 18px;
   line-height: 1.5;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 69px;
    margin-bottom: 30px;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
}

.footerLeft{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 895px;
    font-size: 28px;
    margin-left: 24px;
    list-style-type: none;
    color: #0c1927;
}

.footerLefttRam,
.footerLeftWhy,
.footerLeftWhat,
.footerLeftIntroductions,
.footerLeftPhilosophy{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footerLefttRam:hover,
.footerLeftWhy:hover,
.footerLeftWhat:hover,
.footerLeftIntroductions:hover,
.footerLeftPhilosophy:hover{
    color: #3181a6;
}

.footerRight{
    font-size: 24px;
    margin-right: 35px;
}

.footerRightLeft:after {
    content: " ©";
}