body {
    display: flex;
    flex-direction: column;
    letter-spacing: 1.8px;
    font-family: Roboto
}
p {
    margin-bottom: 30px;
}
h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.navbar{
    text-align: center;
}
.navbar a{
    font-family: Roboto;
    text-transform: uppercase;
    color:  #16a085;
    font-size: 18px; 
    display: inline-block;
    padding: 32px;
    text-decoration: none;
    font-weight: bold;
}
.image{
    width: 100vw;
    background-image: url(../img/content.png);
    
}
.content{
    float: left;
    color:  #373737;
    font-size: 16px;
    line-height: 26px; 
    font-weight: bold;
    text-align: center;
    background-image: url(../img/content.png);
    display: inline-block;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 85px;
    
}
button {
    font-size: 12px;
    border-radius: 3px;
    color: #ffffff;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
    letter-spacing: 1.8px;
}

.footer-text {  
    font-family: Roboto;
    color:  #373737;
    font-size: 16px;
    display: block;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: right;
    font-weight: bold;
}