.conteiner {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    perspective: 200px;
    overflow: hidden;
}

p {
    font-family: sans-serif;
    font-size: 30px;
    color: #fcd000;
    font-weight: bold;
    width: 600px;
    margin: 0 auto;
    transform: rotateX(20deg);
    text-align: justify;
    animation: Star_Wars_Animation 30s ease-in;
    animation-iteration-count: infinite;
}

p span {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.audio {
    display: none;
    position: absolute;
    bottom: 0;
}

@keyframes Star_Wars_Animation {
    0% {
        transform: rotateX(20deg) translateY(600px);
    }

    100% {
        transform: rotateX(20deg) translateY(-200px);
    }
}
