@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

body {
    background: url(../img/Background.png);
}

.helps_in_centering {
    width: 100vw;
    height: 100vh;
    display: flex;
}

table {
    margin: auto;
    border: 1px solid green;
    font-family: "Arimo", "sans-serif";
    font-size: 16px;
    border-collapse: collapse;
    text-transform: uppercase;
    text-align: center;
    background-color: #fafafa;
}

td {
    box-shadow: 58px 0 16px -58px rgba(0, 0, 0, 0.27) inset;
    color: #484848;
}

.header_background {
    background-color: #fafafa;
}

tbody td {
    width: 277px;
    height: 69px;
}

.header_left_text_up {
    font-size: 18px;
    font-weight: 700;
}

.header_left_text_down {
    font-size: 30px;
    font-weight: 700;
}

.standard_header_style {
    width: 277px;
    height: 70px;
    font-size: 24px;
    font-weight: 700;
    background-color: #89c331;
    color: #fff;
}

.ultimate_header_style {
    font-size: 30px;
    font-weight: 700;
    background-color: #f04a56;
    color: #fff;
}

.premium_header_style {
    font-size: 24px;
    font-weight: 700;
    background-color: #20807c;
    color: #fff;
}

.flex {
    display: flex;
    justify-content: center;
    margin: 0;
}

.firstprice {
    font-size: 60px;
    font-weight: 700;
    color: #484848;
}

.flex_start {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondprice {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    color: #484848;
}

.pricetext {
    font-size: 18px;
    display: flex;
    color: #484848;
}

.uppercase {
    text-transform: uppercase;
}

.light_background_row {
    background-color: #f2f2f2;
}

.font_awesom {
    font-size: 24px;
    margin-right: 10px;
    color: #848484;
    font-family: "Font Awesome";

}

.dark_background_row {
    background-color: #e3e3e3;
}

.footer_contact_us_button_box {
    height: 110px;
    background-color: #ddd;
}

.button {
    width: 192px;
    height: 49px;
    border-radius: 5px;
    color: #fff;
}

.button:hover {
    zoom: 1.1;
}

.contact {
    padding-top: 7px;
    border-bottom: 7px solid #404040;
    background-color: #484848;
}

.footer_buy_now_button_box {
    background-color: #eee;
}

.lighter_background {
    background-color: #f4f4f4;
}

.lightgreen_button {
    padding-top: 7px;
    border-bottom: 7px solid #79b027;
    background-color: #89c331;
}

.red_button {
    padding-top: 7px;
    border-bottom: 7px solid #df3a46;
    background-color: #f04a56;
}

.darckgreen_button {
    padding-top: 7px;
    border-bottom: 7px solid #16736f;
    background-color: #20807c;
}
