@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  flex-direction: column;
  min-width: 1200px;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #fff;
}

.flex_centring {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change_color {
  font-weight: 700;
  color: #18cfab;
}

.uppercase {
  text-transform: uppercase;
}

.home {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url(../img/bc_img/section-1.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  background-color: rgba(73, 71, 63, 0.6);
  /*z-index: 1;*/
}

.header_container_with_content {
  justify-content: space-between;
  width: 1160px;
  height: 120px;
}

.hexagon {
  width: 58px;
  height: 67px;
  font-size: 40px;
  color: #fff;
  background-image: url(../img/hexagon.png);
}

.logo_text {
  padding-left: 8px;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
}

.nav {
  margin-right: 7px;
  font-size: 13px;
}

.nav_item {
  height: 120px;
  margin-left: 20px;
  margin-top: 2px;
  text-decoration: none;
  color: #b8b8b8;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.nav_item:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}

.header_search_icon {
  width: 22px;
  height: 22px;
  margin-left: 10px;
  background-image: url(../img/Search_icon.png);
}

.home_content {
  width: 1160px;
  flex-direction: column;
}

.first_line_text {
  margin-top: 366px;
  margin-bottom: 25px;
  font-size: 35px;
}

.second_line_text {
  margin-bottom: 25px;
  font-size: 79px;
}

.third_line_text {
  margin-bottom: 105px;
  font-size: 34px;
  font-weight: 300;
  color: #d4d4d4;
}

.button_box {
  width: 360px;
  margin-bottom: 245px;
  justify-content: space-between;
}

.btn {
  width: 166px;
  height: 61px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #18cfab;
  cursor: pointer;
  color: #fff;
  outline: 0;
}

.box_shadow {
  box-shadow: 0px -5px 0px 0px #fff;
}

.btn_color_left {
  background-color: #18cfab;
}

.btn_right_border {
  border: 1px solid #00cbf6;
}

.btn_color_right {
  background-color: #00cbf6;
}

.skills {
  width: 100%;
  height: 374px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #18cfab;
  border-top: 7px solid #fff;
}

.skills_squares_size {
  width: 25%;
  height: 100%;
}

.unpaired_squares {
  flex-direction: column;
  margin-bottom: 8px;
  color: #18cfab;
  background-color: #1c2a33;
  border-top: 7px solid #18cfab;
}

.paired_squares {
  flex-direction: column;
}

.finger_logo {
  width: 58px;
  height: 97px;
  margin-bottom: 44px;
  background-image: url('../img/finger.png');
}

.diamond_logo {
  width: 93px;
  height: 75px;
  margin-bottom: 60px;
  background-image: url('../img/diamond.png');
}

.light_logo {
  width: 60px;
  height: 96px;
  margin-bottom: 40px;
  background-image: url('../img/light_logo.png');
}

.devices_logo {
  width: 99px;
  height: 76px;
  margin-bottom: 55px;
  background-image: url('../img/devices_logo.png');
}

.service {
  width: 1160px;
  height: 563px;
  flex-direction: column;
  color: #4e4e4e;
}

.service_text {
  margin-bottom: 37px;
  font-size: 36px;
  font-weight: 400;
  color: #4e4e4e;
}

.green_line {
  width: 90px;
  height: 5px;
  margin-bottom: 70px;
  flex-direction: column;
  justify-content: space-between;
}

.green_line_top {
  width: 78px;
  height: 1px;
  margin-right: 12px;
  background-color: #18cfab;
}

.green_line_bottom {
  width: 78px;
  height: 1px;
  margin-left: 12px;
  background-color: #18cfab;
}

.tabs {
  width: 1152px;
  height: 236px;
}

.tab_h {
  width: 192px;
  height: 73px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  background-color: #f8fcfe;
  border: 1px solid #f2f2f2;
  border-right: none;
  cursor: pointer;
  user-select: none;
}

.tab_h:last-child {
  border-right: 1px solid #f2f2f2;
}

.tab_b {
  display: none;
  justify-content: space-between;
}

.photo_text_box {
  display: flex;
}

.photo_text_box p {
  width: 927px;
  height: 136px;
  padding-left: 23px;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.39px;
}

.active {
  color: #fff;
  background-color: #18cfab;
  border: 1px solid #18cfab;
}

.active::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 13px;
  margin-top: 43px;
  background: url('../img/small_triangle.svg') no-repeat;
}

.buy_box {
  width: 100%;
  height: 474px;
  background-attachment: fixed;
  background-image: url('../img/bc_img/section-2.jpg');
}

.opacity_size {
  width: 100%;
  height: 474px;
  background-color: rgba(0, 0, 0, 0.78);
}

.content_width {
  width: 1160px;
  height: auto;
}

.column {
  flex-direction: column;
}

.buy_box_first_text {
  margin-bottom: 35px;
  font-size: 40px;
  font-weight: 700;
  color: #18cfab;
}

.buy_box_second_text {
  margin-bottom: 80px;
  color: #d8d8d8;
}

.purchase_now_btn {
  width: 165px;
  background-color: #18cfab;
}

.our_works {
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f8fcfe;
}

.our_works_text {
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 400;
  color: #4e4e4e;
}

.our_works_tabs_header {
  height: 58px;
  margin-bottom: 70px;
  font-size: 14px;
  font-weight: 400;
  color: #717171;
}

.our_works_tab_h {
  position: relative;
  padding: 18px 28px;
  border: 1px solid #f2f2f2;
  border-right: none;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
}

.our_works_tab_h:last-child {
  border-right: 1px solid #f2f2f2;
}

.our_works_tab_h-active {
  color: #18cfab;
}

.our_works_tab_h-active::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #18cfab;
}

.our_works_photo {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.our_works_btn {
  margin-top: 70px;
  font-size: 14px;
  background-color: #18cfab;
}

.plus {
  display: inline-flex;
  width: 16px;
  height: 16px;
  padding-right: 15px;
  background-image: url('../img/plus.png');
  background-repeat: no-repeat;
}

.blog {
  width: 100%;
  height: 960px;
}

.blog_text {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 400;
  color: #4e4e4e;
}

.blog_photo_all {
  height: 607px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog_photo_one {
  position: relative;
  height: 280px;
  width: auto;
  background-color: #f8fcfe;
}

.blog_photo_one:hover .square_for_data {
  background-color: #18cfab;
}

.blog_photo_one:hover .first_text_after_photo {
  color: #18cfab;
}

.square_for_data {
  position: absolute;
  top: 0;
  right: 0;
  width: 68px;
  height: 66px;
  background-color: #203e38;
}

.data_in_square {
  position: relative;
  width: 29px;
  height: 37px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  justify-content: space-between;
  color: #fff;
}

.breaking_news_photo {
  top: 0;
  width: 263px;
  height: 208px;
}

.first_text_after_photo {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 12px;
  font-size: 18px;
  color: #717171;
}

.second_text_after_photo {
  font-size: 14px;
  font-weight: 300;
  color: #777777;
}

.second_text_after_photo span {
  margin-left: 17px;
  margin-right: 17px;
}

.about {
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: url('../img/bc_img/section-3.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
}

.text_before_hooks {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 400;
}

.hooks {
  width: 44px;
  height: 30px;
  margin-bottom: 40px;
  background-image: url('../img/hooks.png');
}

.carousel_body {
  overflow: hidden;
}

.carousel_body_container {
  display: flex;
  transform: translateX(0);
  transition: all 0.6s ease;
}

.carousel_body_container_item {
  min-width: 100%;
  transition: all 0.6s ease;
  opacity: 0;
}

.carousel_body_container_item_active {
  opacity: 1;
}

.carousel_quote {
  margin-bottom: 45px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: #bbb;
}

.carousel_name_and_title {
  line-height: 27px;
  color: #bbbbbb;
}

.carousel_title {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 30px;
}

.carousel_teller_photo {
  width: 142px;
  height: 142px;
  margin-bottom: 60px;
  background-size: cover;
  overflow: hidden;
  border: 4px solid #18cfab;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px rgba(31, 218, 181, 0.2);
}

.carousel_teller_photo_img {
  display: flex;
  width: 143px;
  height: 142px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  overflow: hidden;
}

.carousel_footer {
  width: 480px;
  margin-bottom: 55px;
  justify-content: space-between;
}

.carousel_btn {
  outline: 0;
}

.carousel_btn:hover {
  fill: #fff;
  border: 1px solid #18cfab;
  background-color: #18cfab;
}

.carousel_footer_btn_left {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid #bbb;
  fill: #bbb;
  cursor: pointer;
}

.carousel_footer_img {
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px rgba(31, 218, 181, 0.2);
  cursor: pointer;
}

.carousel_footer_btn_right {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid #bbb;
  fill: #bbb;
  cursor: pointer;
}

.data_tab_active {
  border: 2px solid #18cfab;
  transform: translateY(-11px);
}

.footer {
  width: 100%;
  height: 108px;
  background-color: #22353f;
  border-bottom: 11px solid #fff;
}

.footer_text {
  font-size: 14px;
  font-weight: 300;
}
/*masonry*/

/*GALLERY*/

.gallery {
  width: 100%;
  height: 100%;
  background-color: #f8fcfe;
}

.gallery_text {
  margin-top: 100px;
  margin-bottom: 28px;
  font-size: 36px;
  font-weight: 400;
  color: #4e4e4e;
}

.btn_gallery {
  margin-bottom: 85px;
}
.masonry {
  width: 100%;
  height: auto;
}


.grid-item {
  width: 200px;
    margin-bottom: 10px;
}



.grid_item_size_1 {
  height: 259px;
  width: 370px;
}

.grid_item_size_2_box {
height: 552px;
width: 744px;
}

.grid_item_size_2 {
  height: 92px;
  width: 124px;
}

.grid_item_size_3 {
  height: 168px;
  width: 180px;
}

.grid_item_size_4 {
  height: 380px;
  width: 370px;
}
