@font-face {

    font-family: verdana;
    src: url(../fonts/verdana.ttf);
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #f26522;
}



body {
    background-image: url(../img/bg.png);
    font-family: verdana;
    color: #ffffff;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.wraper {
    /*    width: 1366px;*/
    width: 1065px;
    margin: 0 auto;
    padding-top: 49px;

}


.header-item {
    display: inline-block;
    float: left;
    width: 50%;
}

.left:hover a {
    color: #f26522;
}

.left:hover .logo {
    background-image: url(../img/logohover.png);
}

.left {
    width: 165px;
}

.right {
    text-align: right;
    width: 895px;
}

.header-item-text {
    display: block;
}

.logo {
    display: inline-block;
    width: 46px;
    height: 44px;
    background-image: url(../img/logo.png);

    /*    float: left;*/
}

.logo:hover {
    background-image: url(../img/logohover.png);
}

.header-item-logo {
    display: inline-block;
    text-transform: uppercase;
}

.milan {
    display: block;
    font-size: 29px;

}

.holidays {
    display: block;
    font-size: 18px;
}

.number {}

.content {
    margin-top: 45px;
    text-transform: capitalize;
}

.content-item {
    position: relative;
    width: 307px;
    /*    height: 200px;*/
    margin-right: 69px;
    margin-bottom: 59px;
    float: left;
    overflow: hidden;
}

.content-item:hover .content-item-panal {
    opacity: 1;
    transform: translateX(0);
}

.content-item-panal {
    position: absolute;
    top: 139px;
    left: 0;
    /*    display: none;*/
    width: 100%;
    height: 61px;
    padding: 16px 21px 17px;
    box-sizing: border-box;
    background: #f26522;
/*    background-image: url(../img/Hover.png);*/
    opacity: 0;
/*    transform: translateX(-100%);*/
    transform: translateY(100%);
    transition: all .3s;
}

.content-item-panal-left{
    display: inline-block;
    width: 37px;
}

.content-item-panal-left-top{
    font-size: 10px;
}

.content-item-panal-left{
    font-size: 14px;
/*    text-align: right;*/
}

.content-item-panal-right {
    position: relative;
    float: right;
    
}

.content-item-panal-right::after{
    content: '>';
/*    background-image: url(../img/Arrow.png);*/
    position: absolute;
    top: 0;
    right: -15px;
    font-size: 14px;
}
.content-item-panal-left-buttom{
    font-size: 20px;
}
.content-item:nth-child(3n) {
    margin: 0;
}

.content-item-text {
    display: block;
    margin-top: 22px;
    /*    margin-bottom: 58px;*/
    text-align: center;
}

.shoping-photo {
    display: block;
    width: 100%;
    height: 200px;
    /*    margin-right: 69px;*/
    background-image: url(../img/1.png);
}

.sightseeing-photo {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url(../img/2.png);
}

.food-photo {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url(../img/3.png)
}

.bars-photo {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url(../img/4.png);
}

.art-photo {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url(../img/5.png)
}

.walking-photo {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url(../img/6.png);
    /*    background-repeat: no-repeat;*/
}

.footer {
    text-align: center;
    font-size: 12px;
    margin-top: 11px;
    margin-bottom: 20px;
}

.footer::before {
    content: "\00A9";
}

.letter {
    text-transform: capitalize;
}
