
.conteiner {
    display: flex;
    width: 100vw;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    font-family: sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 2em;
}

.uppercase {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

span {
    color: #f1ad1d;
}

.yellow_line {
    display: flex;
    margin-bottom: 3em;
    width: 60px;
    height: 4px;
    background-color: #f1ad1d;
}

.branch {
    display: flex;
    width: 100vw;
    height: 900px;
    flex-direction: column;
    color: #fff;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text {
    margin-top: 520px;
    margin-left: 70px;
}

.sertiz {
    font-size: 48px;
    letter-spacing: 3px;
    padding-left: 10px;
}

.awsome {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.8px;
    padding-left: 10px;
}

.txt {
    display: inline-flex;
    font-size: 54px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.338);
}

.txt_left {
    display: flex;
    padding: 0.6em 0.4em 0.6em 04em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    align-items: center;
    background-color: #fff;
}

.txt_right {
    display: flex;
    padding-left: 0.4em;
    padding-right: 1.12em;
    align-items: center;
    color: #fff;
}

.what_they_said {
    display: flex;
    height: 375px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what_they {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 2em;
    color: #333;
}

.we_are {
    font-family: "Lato", sans-serif;
    margin-bottom: 3em;
    font-size: 17px;
    color: #4d4943;
}

.speedometer{
    display: flex;
    width: 100vw;
    height: 380px;
    justify-content: flex-end;
    background-color: #000;
    background-size: cover;
}

.speedometer_img{
    display: flex;
    width: 95vw;
    height: 380px;
    background-position: 100% 36%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/speedometer.png);
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}


.speedometer_img_text{
    display: flex;
    margin-right: 5vw;
    flex-direction: column;
    align-items: center;
}


.we_change {
    color: #fff;
    margin-bottom: 2em;
    font-size: 22px;
    font-weight: 700;
}

.the_secret_of {
    display: flex;
    height: 440px;
    font-size: 22px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.the_secret {
    color: #333;
}

.tree {
    display: flex;
    height: 475px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/bg3.jpg);
    background-position: 50% 55%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logotipes {
    display: flex;
    align-items: center;
}

.national_post {
    display: flex;
    width: 207px;
    height: 28px;
    margin-right: 45px;
    background-image: url(../img/national_post.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.dryme {
    display: flex;
    width: 135px;
    height: 49px;
    margin-right: 60px;
    background-image: url(../img/dryme.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.househome {
    display: flex;
    width: 172px;
    height: 42px;
    margin-right: 60px;
    background-image: url(../img/house&home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.jouny {
    display: flex;
    width: 141px;
    height: 52px;
    background-image: url(../img/jouny.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.thay_trast {
    display: flex;
     height: 410px;
    font-size: 22px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.they_trust {
    font-size: 22px;
    font-weight: 700;
    color: #333;
}

.pier {
    display: flex;
    height: 485px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/bg4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.check {
    font-size: 22px;
    font-weight: 700;
    margin-top: 25px;
    color: #fff;
}

.we_heave {
    line-height: 1.5;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.checks {
    color: #f1ad1d;
}



.white_line {
    display: flex;
    margin-top: 20px;
    width: 281px;
    height: 3px;
    background-color: #fff;
}


.some_times {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.some {
    font-size: 22px;
    font-weight: 700;
    color: #333;
}

